@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

/* This stylesheet is organized using BEM methology *****/
/* Basic Theme ******************************************/

h1 {
    font-size: 48px;
    font-weight: 700;
}

h2 {
    font-size: 36px;
    font-weight: 700;
}

h3 {
    font-size: 28px;
}

h4 {
    font-size: 22px;
}

p {
    font-size: 14px;
}

/* Block ************************************************/

html, body {
    height: 100%;
}

header, footer, main {
    font-family: 'Montserrat', sans-serif;
    color: #212121;
    background-color: #e0e0e0;
}

body {
    display: flex;
    flex-direction: column;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none; /* Likely future */
}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex: 1 0 auto;
    align-items: center;
    justify-content: center;
}

footer {
    flex-shrink: 0;
}

/* Element **********************************************/

#menu {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    margin: auto;
    display: none;
    width: 16em;
    padding: 32px;
    flex-direction: column;
    text-align: center;
    z-index: 3;
}

#menu li {
    padding: 16px;
}

#menu li a {
    width: 96px;
}

.game-viewport {
    width: 960px;
    height: 600px;
    position: relative;
    overflow: hidden;
}

.menu-btn {
    grid-area: menu;
    /* padding: 0 32px 0 0; */
    margin: 3.5em;
    color: #212121;
    text-align: right;
}

.scene-image {        
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    /* z-index: -1; */
}

.dialog-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 120px 24px;
    grid-template-areas: 
    "portrait portrait text text text text"
    "name name text text text text";
    align-items: center;
    justify-items: center;
    width: 960px;
    /* padding: 32px; */
}

.character-portrait {
    grid-area: portrait;
}

.character-name {
    grid-area: name;
}

.text-bubble {
    grid-area: text;
    text-align: left;
    width: 100%;
    max-height: 100%;
    padding: 32px;
    background-color: beige;
    display: none;
}

.notification {
    /* display: none; */
    position: absolute;
    padding: 32px;
    z-index: 3;
}

.copyright {
    text-align: right;
}

.copyright::before {
    content: "\00a9" "\00a0";
}

/* Modifier *********************************************/

.--flex {
    display: flex;
    flex-wrap: wrap;
}

.--PGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 16px;    
    align-items: center;
    justify-items: center;
    /* padding: 32px; */
}

.--dcReversed {
    grid-template-areas: 
    "text text text text portrait portrait"
    "text text text text name name";
}

.--isHidden {
    display: none;
}

.--centerElement {
    align-content: center;
    align-items: center;
    justify-items: center;
}

/* reference: https://google.github.io/material-design-icons/ */
/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Responsive Layout ************************************/

@media (max-width: 800px) {}
