/* Element **********************************************/

.hint-btn {
    grid-area: hint;    
    text-align: center;
}

/* Modifier *********************************************/

.--PGrid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: 
    "stat stat stat stat stat . hint . menu menu"
    "stat stat stat stat stat . hint . menu menu";
    align-items: center;
}